@font-face {
  font-family: Appears;
  src: url("../../fonts/appears/AppearsDemoRegular.otf");
}

@font-face {
  font-family: Barracuda;
  src: url("../../fonts/Barracuda/Barracuda-Bold.ttf");
}

@font-face {
  font-family: Mangsi;
  src: url("../../fonts/mangsi/Mangsi.otf");
}

@font-face {
  font-family: Seraya;
  src: url("../../fonts/seraya-font/SerayaDemo-0W64R.otf");
}

@font-face {
  font-family: Valery;
  src: url("../../fonts/valery/ValeryRegular.otf");
}

@font-face {
  font-family: New York;
  src: url("../../fonts/newyork/NewYork.otf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.backgroundText {
  position: absolute;
  right: 0;
  font-size: 6em;
  z-index: -1;
  opacity: .1;
  font-family: New York;
  text-align: center;
  top: -0.5em;
}

body {
  background-color: white;
  color: black;
}

body.fandomColor {
  background: linear-gradient(125deg, #f7cac9, #92a8d1);
  color: white;
}

body.dark {
  background: black;
  color: white;
}

#colorMode {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #000000));
  background-image: linear-gradient(90deg, #ffffff 50%, #000000 50%);
  border-radius: 20px;
  z-index: 1;
  top: 50%;
  left: 1em;
}

.clicked {
  background: white;
}

#cursor {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  pointer-events: none;
  -webkit-backdrop-filter: invert(80%);
          backdrop-filter: invert(80%);
}

#cursor.dark {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.expand {
  border: 1px solid white;
  border-radius: 20px;
  -webkit-animation: expandAnimation .5s forwards;
          animation: expandAnimation .5s forwards;
}

@-webkit-keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

@keyframes expandAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}

header {
  width: 55px;
  height: 100%;
}

.menu_btn {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.menu_btn__burger {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  background: white;
  border: 1px solid transparent;
  border-radius: 50%;
}

.menu_btn__burger::before {
  content: 'menu';
  position: absolute;
  top: 2em;
  left: 1em;
  width: 32px;
  height: 3px;
  color: dimgray;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.menu_btn__burger.open {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu_btn__burger.open::before {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  content: 'close';
  -webkit-transform: rotate(0deg) translate(5px, 8px);
          transform: rotate(0deg) translate(5px, 8px);
}

.menu_btn__burger.open::after {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .navbar {
  top: 25%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: white;
  text-align: center;
}

.nav .navbar a:visited {
  color: dimgray;
}

.nav .navbar.open {
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  width: 100vw;
}

.nav .navbar__item {
  padding: 8em 0 0 0;
  line-height: 8rem;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.nav .navbar__item.open {
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.nav .navbar__item ul {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.nav .navbar__item ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 6rem;
  width: 100%;
}

.nav .navbar__item ul li:nth-child(1) {
  width: 80%;
  text-align: left;
  margin-left: 2em;
  z-index: 1;
}

.nav .navbar__item ul li:nth-child(1)::after {
  content: "01";
  position: absolute;
  font-size: 0.15em;
  margin-top: -3em;
  margin-left: 0.5em;
  font-family: New York;
}

.nav .navbar__item ul li:nth-child(1):hover {
  background: url("../../../images/members/woozi_attacca_op1.jpg") no-repeat fixed center;
  background-size: 600px;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
}

.nav .navbar__item ul li:nth-child(3) {
  text-align: left;
  margin-left: 0.5em;
}

.nav .navbar__item ul li:nth-child(3)::after {
  content: "03";
  position: absolute;
  font-size: 0.15em;
  margin-top: -3em;
  margin-left: 0.5em;
  font-family: New York;
}

.nav .navbar__item ul li:nth-child(3):hover {
  background: url("../../../images/members/dk_attacca_op1.jpg") no-repeat fixed center;
  background-size: 700px;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
}

.nav .navbar__item ul li:nth-child(4) {
  position: relative;
  z-index: 10;
  margin-left: 3em;
}

.nav .navbar__item ul li:nth-child(4)::before {
  content: "04";
  position: absolute;
  font-size: 0.15em;
  margin-top: -3em;
  margin-left: -1.5em;
  font-family: New York;
}

.nav .navbar__item ul li:nth-child(4):hover {
  background: url("../../../images/members/joshua_attacca_op1.jpg") no-repeat fixed left;
  background-size: 600px;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
}

@-webkit-keyframes navItemOneBackground {
  0% {
    background-size: 0px 0px;
  }
  100% {
    background-size: 600px;
  }
}

@keyframes navItemOneBackground {
  0% {
    background-size: 0px 0px;
  }
  100% {
    background-size: 600px;
  }
}

@-webkit-keyframes navItemTwoBackground {
  0% {
    background-size: 10%;
  }
  100% {
    background-size: 100%;
  }
}

@keyframes navItemTwoBackground {
  0% {
    background-size: 10%;
  }
  100% {
    background-size: 100%;
  }
}

.nav .navbar__item ul li a {
  position: relative;
  font-family: Valery;
  -webkit-animation: strike 2s linear 1 alternate;
          animation: strike 2s linear 1 alternate;
}

.nav .navbar__item ul li a:hover::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-animation: strike 2s ease 1 forwards;
          animation: strike 2s ease 1 forwards;
  background: white;
}

@-webkit-keyframes strike {
  0% {
    width: 0;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 2px;
  }
}

@keyframes strike {
  0% {
    width: 0;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 2px;
  }
}

.nav .navbar a {
  text-decoration: none;
  -webkit-transition: 1.5s ease-in;
  transition: 1.5s ease-in;
}

.nav .navbar a:hover {
  color: inherit;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.nav .navbar.dark {
  background-color: black;
  color: white;
}

.nav .credits {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}

.nav .credits:hover {
  color: palegoldenrod;
}

#colorMode, .menu_btn {
  display: block;
}

#group {
  position: absolute;
  left: 0.5em;
  bottom: 0;
}

#group a:visited {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

#group .glitch {
  font-family: Seraya;
  font-size: 2.5em;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
}

#group .glitch::before, #group .glitch::after {
  content: 'SVT';
  top: 0;
  position: absolute;
  overflow: hidden;
}

#group .glitch::before {
  right: 4px;
  text-shadow: 2px 0px #f7cac9;
  -webkit-animation: effect 3s infinite linear;
          animation: effect 3s infinite linear;
}

#group .glitch::after {
  left: 2px;
  text-shadow: 2px 0px #92a8d1;
  -webkit-animation: effect 2s infinite linear;
          animation: effect 2s infinite linear;
}

@-webkit-keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 99px, 0);
  }
  15% {
    clip: rect(3px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(54px, 9999px, 109px, 0);
  }
  25% {
    clip: rect(96px, 9999px, 989px, 0);
  }
  30% {
    clip: rect(54px, 9999px, 109px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(23px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

@keyframes effect {
  0% {
    clip: rect(55px, 9999px, 56px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 30px, 0);
  }
  10% {
    clip: rect(33px, 9999px, 99px, 0);
  }
  15% {
    clip: rect(3px, 9999px, 19px, 0);
  }
  20% {
    clip: rect(54px, 9999px, 109px, 0);
  }
  25% {
    clip: rect(96px, 9999px, 989px, 0);
  }
  30% {
    clip: rect(54px, 9999px, 109px, 0);
  }
  35% {
    clip: rect(50px, 9999px, 34px, 0);
  }
  40% {
    clip: rect(60px, 9999px, 72px, 0);
  }
  45% {
    clip: rect(10px, 9999px, 81px, 0);
  }
  50% {
    clip: rect(2px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(23px, 9999px, 89px, 0);
  }
  60% {
    clip: rect(76px, 9999px, 91px, 0);
  }
  65% {
    clip: rect(62px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 73px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 87px, 0);
  }
  80% {
    clip: rect(2px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(28px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(73px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(79px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 79px, 0);
  }
}

#group .glitch a {
  text-decoration: none;
}

#group .glitch a:visited {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.mainHome {
  font-family: New York;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90vw;
  height: 100%;
  overflow: hidden;
}

.mainHome__paragraph {
  margin-top: 10em;
  width: 100vw;
  height: 100%;
}

.mainHome__paragraph__topic {
  position: absolute;
  font-size: 1.8em;
  opacity: 0.2;
  margin-top: 0.1em;
}

.mainHome__paragraph__title {
  top: 1em;
  font-size: 7em;
}

.mainHome__paragraph__title span {
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mainHome__paragraph__title span.fade {
  opacity: 1;
}

.mainHome__paragraph__subtitle {
  position: absolute;
  text-decoration: none;
  top: 8em;
  right: 1em;
  font-size: 1.2em;
  border: 1px solid silver;
  border-radius: 50%;
  padding: 3em 1em;
  width: 150px;
  text-align: center;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: dimgray;
  transition: 1s ease-in-out;
}

.mainHome__paragraph__subtitle:hover {
  color: white;
  opacity: 1;
  -webkit-backdrop-filter: invert(50%);
          backdrop-filter: invert(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.mainHome__paragraph__subtitle::before {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 3.6em;
  top: 0;
  left: 0;
}

.mainHome__paragraph__subtitle::after {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 3.6em;
  top: -0.1em;
  left: 0.2em;
}

.mainHome__paragraph__description {
  width: 70%;
  margin-bottom: 1em;
}

.mainHome__paragraph__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 52%;
      grid-template-columns: 35% 52%;
  grid-gap: 2%;
}

.mainHome__paragraph__images__image1Div__image1 {
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainHome__paragraph__images__image2Div__image2 {
  -webkit-backdrop-filter: invert(90%);
          backdrop-filter: invert(90%);
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainHome__paragraph__imagesOutside__image3 {
  display: none;
}

.mainHome__paragraph__imagesOutside__image4 {
  position: absolute;
  bottom: -22em;
  width: 38%;
  height: 50%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-filter: brightness(20%) grayscale(100%);
          filter: brightness(20%) grayscale(100%);
}

.mainHome__paragraph__imagesOutside__image5 {
  position: absolute;
  right: 1em;
  bottom: -24em;
  width: 57%;
  height: 50%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-filter: brightness(20%) grayscale(100%);
          filter: brightness(20%) grayscale(100%);
}

.mainProfile {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  padding: 0 2em;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  font-family: New York;
}

.mainProfile__seventeen__name {
  position: absolute;
  white-space: nowrap;
  font-size: 16em;
  -webkit-filter: invert(50%);
          filter: invert(50%);
  margin-top: -0.03em;
  opacity: 0.5;
  margin-left: 0;
}

.mainProfile__seventeen__name span {
  width: 100%;
}

.mainProfile .backgroundSVTText {
  position: absolute;
  font-size: 5em;
  z-index: -1;
  opacity: .1;
  font-family: New York;
  text-align: center;
  top: 15em;
}

.mainProfile__paragraph {
  width: 100%;
  margin: 0 0 10em 0;
}

.mainProfile__paragraph__name {
  background: url("../../../images/home_page/attacca/attacca_group_photo_1.jpeg") no-repeat fixed center;
  background-size: cover;
  background-blend-mode: saturation;
  height: 80%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.mainProfile__paragraph__name::before {
  display: none;
}

.mainProfile__paragraph__name:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__definition {
  margin-top: 30em;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2em;
}

.mainProfile__paragraph__debutDiv {
  height: 20em;
  margin-top: 15em;
}

.mainProfile__paragraph__debutDiv__debut {
  background: url("../../../images/members/dk_attacca_op1.jpg") no-repeat fixed;
  background-size: 300px;
  background-blend-mode: saturation;
  margin-left: auto;
  margin-right: 0;
  width: 20em;
  height: 20em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: left;
  padding: 0;
}

.mainProfile__paragraph__debutDiv__debut__debut {
  position: absolute;
  margin-top: -4.5em;
  margin-left: -12em;
}

.mainProfile__paragraph__debutDiv__debut::before {
  content: "Debut";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  right: 3.5em;
  margin-top: -1em;
}

.mainProfile__paragraph__debutDiv__debut:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  -webkit-animation: debut 2s ease 1 forwards;
          animation: debut 2s ease 1 forwards;
}

@-webkit-keyframes debut {
  0% {
    height: 20em;
  }
  100% {
    height: 0em;
  }
}

@keyframes debut {
  0% {
    height: 20em;
  }
  100% {
    height: 0em;
  }
}

.mainProfile__paragraph__debutdate {
  margin-top: -10em;
  width: 60%;
}

.mainProfile__paragraph__debutdate__date {
  font-size: 3em;
}

.mainProfile__paragraph__debutdate__album {
  font-size: 3em;
}

.mainProfile__paragraph__debutdate__title_track {
  font-size: 3em;
}

.mainProfile__paragraph__debutImages {
  height: 20em;
  margin-top: 15em;
}

.mainProfile__paragraph__debutImages__para {
  white-space: nowrap;
  margin: 5px 0;
}

.mainProfile__paragraph__debutImages__para__image {
  z-index: -10;
  position: relative;
  padding: 1em;
  width: 40em;
  height: 30em;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainProfile__paragraph__debutImages__debutImages > img {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: firebrick;
  margin: 10px;
}

.mainProfile__paragraph__fandom {
  margin-top: 29em;
  background: url("../../../images/members/hoshi_attacca_op1.jpg") no-repeat fixed;
  background-size: cover;
  height: 20em;
  width: 20em;
}

.mainProfile__paragraph__fandom::before {
  content: "Fandom";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  margin-top: -0.5em;
  left: 0;
  z-index: 1;
}

.mainProfile__paragraph__colors {
  margin-top: 10em;
  margin-left: 50%;
  background: url("../../../images/members/minghao_attacca_op1.jpg") no-repeat fixed;
  background-size: cover;
  height: 20em;
  width: 20em;
}

.mainProfile__paragraph__colors::before {
  content: "Fan Colors";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  margin-top: -0.7em;
  margin-left: -1em;
  z-index: 1;
}

.mainProfile__paragraph__members {
  margin-top: 15em;
  width: 100%;
  text-align: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mainProfile__paragraph__members::before {
  content: "Members";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  margin-top: -0.7em;
  left: 0;
  z-index: 1;
}

.mainProfile__paragraph__members__image {
  width: 40em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  height: 40em;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 10%;
     object-position: center 10%;
}

.mainProfile__paragraph__members__image:hover {
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__members__names {
  font-size: 3.3em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  display: block;
}

.mainProfile__paragraph__members__names span:hover {
  opacity: 1;
  -webkit-filter: invert(80%) drop-shadow(2px 2px gray);
          filter: invert(80%) drop-shadow(2px 2px gray);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.mainProfile__paragraph__members__names span:hover::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-animation: name-strike 1s ease 1 forwards;
          animation: name-strike 1s ease 1 forwards;
  background: white;
}

@-webkit-keyframes name-strike {
  0% {
    width: 0;
    height: 2px;
  }
  50% {
    width: 10%;
    height: 2px;
  }
  75% {
    width: 85%;
    height: 2px;
  }
  100% {
    width: 0%;
    height: 2px;
  }
}

@keyframes name-strike {
  0% {
    width: 0;
    height: 2px;
  }
  50% {
    width: 10%;
    height: 2px;
  }
  75% {
    width: 85%;
    height: 2px;
  }
  100% {
    width: 0%;
    height: 2px;
  }
}

.mainProfile__paragraph__sub_units_list {
  background-size: cover;
  background-blend-mode: saturation;
  margin-top: 7em;
  margin-bottom: 3em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: center;
  padding: 2em;
}

.mainProfile__paragraph__sub_units_list::before {
  content: "Sub-Units";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  left: 1.8em;
  width: 100%;
  text-align: center;
}

.mainProfile__paragraph__sub_units_list:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__units {
  margin-bottom: 2em;
}

.mainProfile__paragraph__units__unit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32.3% 32.3% 32.3%;
      grid-template-columns: 32.3% 32.3% 32.3%;
  gap: 2%;
  height: 50%;
}

.mainProfile__paragraph__units__unit__hhu {
  background: url("../../../images/units/hhu_2.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  height: 40em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: right;
  padding: 2em;
  margin-bottom: 2em;
}

.mainProfile__paragraph__units__unit__hhu__names {
  font-size: 1.2em;
  color: white;
}

.mainProfile__paragraph__units__unit__hhu::before {
  content: "Hip-Hop";
  position: absolute;
  font-size: 3em;
  opacity: .5;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  right: -0.5em;
  margin-top: -0.15em;
}

.mainProfile__paragraph__units__unit__hhu:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  background: url("../../../images/units/hhu_3.jpeg") no-repeat fixed center;
  background-size: cover;
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__units__unit__vu {
  background: url("../../../images/units/vu.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: right;
  padding: 2em;
  margin-bottom: 2em;
}

.mainProfile__paragraph__units__unit__vu__names {
  font-size: 1.2em;
  color: black;
}

.mainProfile__paragraph__units__unit__vu::before {
  content: "Vocal";
  position: absolute;
  font-size: 3em;
  opacity: .5;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  right: -0.6em;
  margin-top: -0.15em;
}

.mainProfile__paragraph__units__unit__vu:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  background: url("../../../images/units/vu_2.jpeg") no-repeat fixed center;
  background-size: cover;
}

.mainProfile__paragraph__units__unit__pu {
  background: url("../../../images/units/pu.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: right;
  padding: 2em;
  margin-bottom: 2em;
}

.mainProfile__paragraph__units__unit__pu__names {
  font-size: 1.2em;
  color: white;
}

.mainProfile__paragraph__units__unit__pu::before {
  content: "Performance";
  position: absolute;
  font-size: 3em;
  opacity: .5;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  right: -0.1em;
  margin-top: -0.15em;
}

.mainProfile__paragraph__units__unit__pu:hover {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background: url("../../../images/units/pu_2.jpeg") no-repeat fixed right;
  background-size: cover;
}

.mainProfile__paragraph__filmography {
  margin-top: 4em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.mainProfile__paragraph__filmography::before {
  content: "Filmography";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  margin-left: -2em;
  margin-top: -0.3em;
}

.mainProfile__paragraph__filmography:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__television {
  background: url("../../../images/members/jun_attacca_op1.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  width: 25em;
  height: 25em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  margin-left: 2em;
  padding: 2em;
  margin-top: 8em;
}

.mainProfile__paragraph__television div {
  padding-top: 1em;
}

.mainProfile__paragraph__television::before {
  content: "Television";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  top: -0.7em;
  left: -0.7em;
}

.mainProfile__paragraph__television:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__onlineshows {
  position: absolute;
  right: 4em;
  background: url("../../../images/members/wonwoo_attacca_op1.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  width: 25em;
  height: 25em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: left;
  padding: 1em;
}

.mainProfile__paragraph__onlineshows::before {
  content: "Online Shows";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  text-align: right;
  bottom: -1.3em;
  right: -0.5em;
}

.mainProfile__paragraph__onlineshows:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__film {
  left: 1em;
  background: url("../../../images/members/jeonghan_attacca_op1.jpg") no-repeat fixed;
  background-size: cover;
  background-blend-mode: saturation;
  width: 25em;
  height: 25em;
  margin-left: 5em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  text-align: left;
  padding: 1em;
  margin-top: 20em;
}

.mainProfile__paragraph__film::before {
  content: "Film";
  position: absolute;
  font-size: 5em;
  opacity: .5;
  text-align: right;
  bottom: -0.5em;
  right: -0.5em;
}

.mainProfile__paragraph__film:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainProfile__paragraph__concerts {
  margin-top: 20em;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  padding: 2em;
  text-align: left;
}

.mainProfile__paragraph__concerts::before {
  content: "Concerts";
  position: absolute;
  font-size: 5em;
  opacity: .5;
}

.mainProfile__paragraph__concerts:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
}

.mainMembers {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding-top: 2em;
  font-family: New York;
  margin-left: auto;
  margin-right: auto;
}

.mainMembers__dets {
  width: 100%;
  height: 80vh;
  padding-bottom: 0;
}

.mainMembers__dets__pronunciation {
  display: none;
  position: absolute;
  right: 0;
  height: 100%;
  text-align: right;
  margin-right: 9.8em;
  margin-top: -30%;
  font-size: 2.5em;
  opacity: 0.65;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  z-index: -1;
}

.mainMembers__dets__number {
  position: absolute;
  width: 100%;
  text-align: right;
  margin-right: 0;
  margin-top: 22%;
  font-size: 5em;
  opacity: 0.1;
}

.mainMembers__dets__imageDiv {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  height: 600px;
  right: 30%;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.mainMembers__dets__imageDiv img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.mainMembers__dets__imageDiv:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.mainMembers__dets__imageDiv__image {
  width: 410px;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.mainMembers__dets__imageDiv:hover {
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  width: 100%;
  right: 0;
}

.mainMembers__dets__imageDiv:hover img {
  width: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.mainMembers__dets__info {
  position: relative;
  width: 100%;
  top: 1em;
  text-align: left;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(77.5%, #000), color-stop(10%, #fff));
  background-image: linear-gradient(90deg, #000 77.5%, #fff 10%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.mainMembers__dets__info.dark {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #fff), color-stop(10%, #000));
  background-image: linear-gradient(90deg, #fff 100%, #000 10%);
}

.mainMembers__dets__info__label {
  font-style: oblique;
  font-weight: 800;
  margin-right: 0.5em;
}

.mainMembers__dets__info__name {
  font-size: 5em;
}

.mainMembers__dets__info__name span {
  font-size: .3em;
}

.mainMembers__dets__info__subunit {
  margin-top: -0.4em;
  font-size: 1.3em;
}

.mainMembers__dets__info__birth_name {
  margin-top: 2em;
}

.listen-link {
  position: absolute;
  text-decoration: none;
  font-size: 2em;
  top: 5em;
  right: 2em;
  opacity: .5;
  border: 1px solid silver;
  border-radius: 50%;
  padding: 1.6em 0.9em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.listen-link:hover {
  opacity: 1;
  -webkit-backdrop-filter: invert(50%);
          backdrop-filter: invert(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: white;
}

.listen-link:hover::before {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 2.2em;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.listen-link:hover::after {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 2.2em;
  top: -0.1em;
  left: 0.1em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.watch-link {
  position: absolute;
  text-decoration: none;
  font-size: 1.2em;
  top: 17em;
  right: 6em;
  opacity: .5;
  border: 1px solid silver;
  border-radius: 50%;
  padding: 2.5em 0.8em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.watch-link:hover {
  opacity: 1;
  -webkit-backdrop-filter: invert(50%);
          backdrop-filter: invert(50%);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  color: white;
}

.watch-link:hover::before {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 3.1em;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.watch-link:hover::after {
  position: absolute;
  content: "";
  border: 1px solid silver;
  border-radius: 50%;
  padding: 3.2em;
  top: -0.1em;
  left: 0.1em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.previous {
  position: absolute;
  left: 0;
  top: 2em;
  border: 1px solid silver;
  -webkit-backdrop-filter: invert(5%);
          backdrop-filter: invert(5%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  padding: 15px;
}

.previous:hover {
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 50%;
  -webkit-backdrop-filter: invert(25%);
          backdrop-filter: invert(25%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  color: white;
}

.next {
  position: absolute;
  left: 0;
  bottom: 1em;
  border: 1px solid silver;
  -webkit-backdrop-filter: invert(5%);
          backdrop-filter: invert(5%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  border-radius: 0;
  padding: 15px;
}

.next:hover {
  cursor: pointer;
  border: 1px solid silver;
  border-radius: 50%;
  -webkit-backdrop-filter: invert(25%);
          backdrop-filter: invert(25%);
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  color: white;
}

.mainDiscography {
  font-family: New York;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  padding: 1.5em;
  overflow: hidden;
}

.mainDiscography__discography {
  position: absolute;
  right: 0;
  width: 95%;
  height: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.mainDiscography__discography__dets__album_category {
  z-index: -1;
  position: absolute;
  font-size: 2em;
  opacity: .3;
  top: 0;
  left: 0;
}

.mainDiscography__discography__dets__album_name {
  width: 90%;
  font-size: 6em;
  margin-left: 2px;
}

.mainDiscography__discography__dets__title_track {
  position: fixed;
  bottom: 1em;
  left: 1em;
  font-size: 6em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  text-decoration: none;
}

.mainDiscography__discography__dets__title_track::after {
  content: "title";
  position: absolute;
  font-size: 0.3em;
  opacity: .3;
  bottom: 0.5em;
  margin-left: -0.2em;
}

.mainDiscography__discography__dets__details {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 60%;
      grid-template-columns: 50% 60%;
  gap: 2%;
}

.mainDiscography__discography__dets__details__imageDiv {
  width: 20%;
  z-index: -1;
  margin: 2.5em 0 0 5em;
  right: inherit;
}

.mainDiscography__discography__dets__details__imageDiv__image {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainDiscography__discography__dets__details__paragraph {
  margin-top: 20em;
  background: url("../../../images/discography/17CARAT.jpg") fixed no-repeat;
  background-size: contain;
  -webkit-filter: blur(20px) brightness(30%);
          filter: blur(20px) brightness(30%);
}

.mainDiscography__discography__dets__details__paragraph__album_detail {
  margin-top: 0.5em;
  font-size: 3em;
  margin-bottom: .5em;
}

.mainDiscography__discography__dets__details__paragraph__artist_name {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.mainDiscography__discography__dets__details__paragraph__artist_name::before {
  content: "Artist";
  position: absolute;
  font-size: 0.9em;
  opacity: .3;
  margin-top: -0.7em;
  margin-left: -1.7em;
}

.mainDiscography__discography__dets__details__paragraph__release_date {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.mainDiscography__discography__dets__details__paragraph__release_date::before {
  content: "Released";
  position: absolute;
  font-size: 0.9em;
  opacity: .3;
  margin-top: -0.7em;
  margin-left: -1.7em;
}

.mainDiscography__discography__dets__details__paragraph__track_list {
  width: 30%;
  font-size: 2em;
}

.mainDiscography__discography__dets__details__paragraph__track_list__ol__li {
  font-size: auto;
}

.mainDiscography__discography__dets__details__paragraph__track_list__ol__li:nth-child(1)::before {
  content: "Tracks";
  position: absolute;
  font-size: 1.8em;
  opacity: .3;
  margin-top: -0.7em;
  margin-left: -1.9em;
}

.mainDiscography__discography__dets__id {
  position: fixed;
  z-index: -1;
  bottom: 0.5em;
  right: 0;
  opacity: .1;
  font-size: 5em;
}

.loading {
  display: none;
}

.mainCredits {
  font-family: New York;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50vw;
  height: 50%;
  overflow: hidden;
}

.mainCredits__bio {
  padding: 2em;
}

.mainCredits__bio__iAm {
  font-size: 2em;
}

.mainCredits__bio__name {
  font-size: 0.8em;
}

.mainCredits__photos {
  padding: 2em;
}

.mainCredits__photos__from {
  font-size: 2em;
}

.mainCredits__photos__source {
  font-size: 0.8em;
}

.mainCredits__allCredits {
  position: absolute;
  bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  width: 100%;
}

.mainCredits__allCredits__fansite {
  font-size: 0.8em;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #f7cac9), to(#92a8d1));
  background-image: linear-gradient(to bottom, #f7cac9 40%, #92a8d1);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.footer {
  right: 0;
  bottom: 0;
}

.footer__pledis {
  margin: 1em .5em 0 .1em;
  width: 15px;
  opacity: .1;
  font-family: New York;
  z-index: -1;
}

.footer__pledis__paragraph {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .7em;
  padding-bottom: 1em;
  letter-spacing: 8px;
  text-align: center;
}

.footer__bar {
  content: '';
  border: 1px solid dimgray;
  height: 195px;
  width: 1px;
  margin: 1em 0 .8em .5em;
  text-align: center;
  opacity: .1;
}

.footer__icons {
  text-align: center;
}

.footer__icons__links {
  display: block;
  padding-bottom: 1.3em;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.footer__icons__links:hover {
  color: inherit;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.footer__icons__links i:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in;
  opacity: 1;
}

@media screen and (max-width: 300px) {
  .mainMembers {
    padding-top: 10%;
    padding-bottom: 0;
    width: 50%;
    height: 10%;
    overflow: scroll;
    background-color: slategrey;
  }
  .mainMembers__dets {
    margin-bottom: 5em;
    height: 70vh;
  }
  .mainMembers__dets:nth-child(13) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .mainMembers__dets__number {
    right: 0;
    margin-top: 35%;
    opacity: 0.5;
    position: absolute;
  }
  .mainMembers__dets__imageDiv {
    left: 0;
    width: 70%;
  }
  .mainMembers__dets__imageDiv__image {
    width: 10%;
    height: 80%;
  }
  .mainMembers__dets__imageDiv__image:nth-child(13) {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  #cursor {
    width: 10px;
    height: 10px;
  }
  #cursor.dark {
    width: 10px;
    height: 10px;
  }
  .backgroundText {
    font-size: 3em;
    left: 0;
  }
  .menu_btn {
    top: 1.5rem;
    right: 3em;
  }
  #colorMode {
    top: 10em;
    left: 0.5;
  }
  .nav .navbar__item {
    padding: 7em 0 0 0;
  }
  .nav .navbar__item li:nth-child(1) {
    font-size: 3em;
  }
  .nav .navbar__item li:nth-child(2) {
    font-size: 3em;
  }
  .nav .navbar__item li:nth-child(3) {
    font-size: 3em;
  }
  .nav .navbar__item li:nth-child(4) {
    font-size: 3em;
  }
  #group {
    display: none;
    position: absolute;
    left: 0.5em;
    top: 5.5em;
  }
  .footer {
    width: 100%;
    height: 50px;
    -webkit-backdrop-filter: invert(20%) blur(20px);
            backdrop-filter: invert(20%) blur(20px);
  }
  .footer__pledis {
    display: none;
  }
  .footer__bar {
    display: none;
  }
  .footer__icons {
    margin-top: 1em;
  }
  .footer__icons__links {
    display: inline;
    padding: 1.3em;
  }
  .mainHome {
    height: 90%;
    width: 70vw;
  }
  .mainHome__paragraph {
    margin-top: 7em;
    width: 100vw;
    height: 100%;
  }
  .mainHome__paragraph__topic {
    position: absolute;
    content: "Name";
    font-size: 1em;
    opacity: 0.2;
    margin-top: -0.2em;
  }
  .mainHome__paragraph__title {
    width: 70%;
    font-size: 4em;
  }
  .mainHome__paragraph__subtitle {
    top: 4em;
    right: 0;
    font-size: 0.6em;
    padding: 3em 1em;
    width: 75px;
  }
  .mainHome__paragraph__subtitle::before {
    position: absolute;
    content: "";
    border: 1px solid silver;
    border-radius: 50%;
    padding: 3.6em;
    top: 0;
    left: 0;
  }
  .mainHome__paragraph__subtitle::after {
    position: absolute;
    content: "";
    border: 1px solid silver;
    border-radius: 50%;
    padding: 3.6em;
    top: -0.1em;
    left: 0.2em;
  }
  .mainHome__paragraph__description {
    font-size: 0.7em;
    margin-bottom: 1em;
  }
  .mainHome__paragraph__images {
    display: block;
    width: 70%;
  }
  .mainHome__paragraph__images__image1Div {
    height: 200px;
  }
  .mainHome__paragraph__images__image1Div__image1 {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-backdrop-filter: invert(90%);
            backdrop-filter: invert(90%);
  }
  .mainHome__paragraph__images__image2Div__image2 {
    display: none;
  }
  .mainHome__paragraph__imagesOutside__image3 {
    display: none;
  }
  .mainHome__paragraph__imagesOutside__image4 {
    position: absolute;
    bottom: -17em;
    width: 60%;
    height: 50%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    -webkit-filter: brightness(40%) grayscale(100%);
            filter: brightness(40%) grayscale(100%);
  }
  .mainHome__paragraph__imagesOutside__image5 {
    position: absolute;
    right: 0;
    bottom: -21em;
    width: 35%;
    height: 50%;
    z-index: -1;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    -webkit-filter: brightness(60%) grayscale(100%);
            filter: brightness(60%) grayscale(100%);
  }
  .mainMembers {
    width: 80%;
    height: 90%;
  }
  .mainMembers__dets {
    margin-bottom: 5em;
    height: 70vh;
  }
  .mainMembers__dets:nth-child(13) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .mainMembers__dets__number {
    right: 0;
    margin-top: -2.9em;
    opacity: 0.5;
    position: absolute;
  }
  .mainMembers__dets__imageDiv {
    left: 0;
    width: 90%;
    height: 90%;
  }
  .mainMembers__dets__imageDiv:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .mainMembers__dets__imageDiv__image {
    width: 100%;
    height: 80%;
  }
  .mainMembers__dets__imageDiv__image:nth-child(13) {
    height: 400px;
  }
  .mainMembers__dets__info {
    width: 90%;
    left: 0;
    top: 55%;
    text-align: left;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(8%, #000), color-stop(8%, #fff));
    background-image: linear-gradient(90deg, #000 8%, #fff 8%);
  }
  .mainMembers__dets__info.dark {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(8%, #fff), color-stop(8%, #000));
    background-image: linear-gradient(90deg, #fff 8%, #000 8%);
  }
  .mainMembers__dets__info__name {
    font-size: 3em;
  }
  .mainProfile {
    width: 80%;
    padding: 0 0;
  }
  .mainProfile__seventeen__name {
    position: absolute;
    font-size: 5em;
    -webkit-filter: invert(50%);
            filter: invert(50%);
    margin-top: -1em;
  }
  .mainProfile__paragraph {
    margin: 2em 0 0 0;
    height: 40%;
  }
  .mainProfile__paragraph__name {
    margin-top: 2em;
    width: 100%;
    background-size: contain;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    text-align: left;
  }
  .mainProfile__paragraph__name::before {
    font-size: 3.5em;
    margin: -1em 0 0 -0.5em;
  }
  .mainProfile__paragraph__debut {
    margin-left: 25%;
    width: 100%;
    background-size: contain;
    height: 20em;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    text-align: left;
  }
  .mainProfile__paragraph__debut::before {
    margin: -1em 0 0 1em;
    left: 0;
    font-size: 3.5em;
  }
  .mainProfile__paragraph__members {
    margin-top: 8em;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
  }
  .mainProfile__paragraph__members::before {
    font-size: 3.5em;
    left: 1em;
  }
  .mainProfile__paragraph__members__image {
    width: 100%;
    height: 30em;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
  }
  .mainProfile__paragraph__members__names {
    text-align: center;
    font-size: 1.3em;
    width: 100%;
  }
  .mainProfile__paragraph__list {
    position: relative;
    margin-top: 3em;
  }
  .mainProfile__paragraph__list::before {
    font-size: 3.5em;
    left: 0;
  }
  .mainProfile__paragraph__units__unit {
    display: block;
  }
  .mainProfile__paragraph__units__unit__hhu {
    background: url("../../../images/units/hhu_3.jpeg") no-repeat fixed;
    background-size: cover;
    height: 20em;
    text-align: left;
  }
  .mainProfile__paragraph__units__unit__hhu__names {
    font-size: 1em;
    margin-left: -20px;
  }
  .mainProfile__paragraph__units__unit__hhu::before {
    font-size: 2em;
    bottom: 0;
  }
  .mainProfile__paragraph__units__unit__vu {
    background: url("../../../images/units/vu_2.jpeg") no-repeat fixed;
    background-size: cover;
    height: 20em;
    text-align: left;
  }
  .mainProfile__paragraph__units__unit__vu__names {
    font-size: 1em;
    margin-left: -20px;
  }
  .mainProfile__paragraph__units__unit__vu::before {
    font-size: 2em;
    bottom: 0;
  }
  .mainProfile__paragraph__units__unit__pu {
    background: url("../../../images/units/pu_2.jpeg") no-repeat fixed;
    background-size: cover;
    height: 20em;
    text-align: left;
  }
  .mainProfile__paragraph__units__unit__pu__names {
    font-size: 1em;
    margin-left: -20px;
  }
  .mainProfile__paragraph__units__unit__pu::before {
    font-size: 2em;
    right: 0.4em;
  }
  .mainProfile__paragraph__television {
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    padding: 2em;
    margin-top: 8em;
    margin-left: 2em;
  }
  .mainProfile__paragraph__television::before {
    top: -0.5em;
    left: -0.5em;
    font-size: 3.5em;
  }
  .mainProfile__paragraph__onlineshows {
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
    right: 0;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    text-align: left;
  }
  .mainProfile__paragraph__onlineshows::before {
    text-align: right;
    bottom: 3.2em;
    right: 0;
    font-size: 3.5em;
  }
  .mainProfile__paragraph__film {
    display: block;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 0;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    text-align: left;
    margin-bottom: 0;
  }
  .mainProfile__paragraph__film::before {
    text-align: right;
    bottom: 3.2em;
    right: 0;
    font-size: 3.5em;
  }
  .listen-link {
    position: absolute;
    font-size: 1em;
    top: 19.5%;
    right: 0;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 1em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: sideways;
  }
  .listen-link:hover {
    -webkit-backdrop-filter: invert(0%);
            backdrop-filter: invert(0%);
  }
  .listen-link:hover::before {
    display: none;
  }
  .listen-link:hover::after {
    display: none;
  }
  .watch-link {
    position: absolute;
    font-size: 1em;
    top: 33%;
    right: 0;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 1em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: sideways;
  }
  .watch-link:hover {
    -webkit-backdrop-filter: invert(0%);
            backdrop-filter: invert(0%);
  }
  .watch-link:hover::before {
    display: none;
  }
  .watch-link:hover::after {
    display: none;
  }
  .previous {
    position: fixed;
    z-index: 100;
    top: 0.5em;
    left: 50%;
    padding: 8px;
  }
  .next {
    bottom: 2em;
    left: 50%;
    padding: 8px;
  }
  .mainDiscography {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70%;
    height: 93%;
    overflow: hidden;
    margin-top: 0;
    margin-right: 5%;
  }
  .mainDiscography__discography {
    position: absolute;
    top: 2.5em;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    overflow-y: scroll;
    padding-bottom: 5em;
  }
  .mainDiscography__discography__dets {
    overflow-y: scroll;
  }
  .mainDiscography__discography__dets__album_category {
    font-size: 1em;
    top: 0;
    left: 0;
  }
  .mainDiscography__discography__dets__album_name {
    width: 100%;
    font-size: 1.9em;
  }
  .mainDiscography__discography__dets__title_track {
    font-size: 2em;
    position: absolute;
    top: 1.5em;
    left: 0;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .mainDiscography__discography__dets__title_track::after {
    font-size: 0.3em;
    top: 0.5em;
    margin-left: -0.2em;
  }
  .mainDiscography__discography__dets__details {
    display: inline-block;
    text-align: right;
    width: 100%;
  }
  .mainDiscography__discography__dets__details__imageDiv {
    width: 100%;
    z-index: -1;
    margin: 1em 0 0 0;
    text-align: center;
  }
  .mainDiscography__discography__dets__details__imageDiv__image {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mainDiscography__discography__dets__details__paragraph {
    margin-top: 0;
  }
  .mainDiscography__discography__dets__details__paragraph__album_detail {
    margin-top: -0.5em;
    font-size: 2em;
    margin-bottom: .5em;
  }
  .mainDiscography__discography__dets__details__paragraph__artist_name {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .mainDiscography__discography__dets__details__paragraph__artist_name::before {
    font-size: 0.5em;
    margin-top: -0.2em;
    margin-left: -1.7em;
  }
  .mainDiscography__discography__dets__details__paragraph__release_date {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .mainDiscography__discography__dets__details__paragraph__release_date::before {
    font-size: 0.5em;
    margin-top: -0.2em;
    margin-left: -1.7em;
  }
  .mainDiscography__discography__dets__details__paragraph__track_list {
    width: 100%;
    font-size: 2em;
  }
  .mainDiscography__discography__dets__details__paragraph__track_list__ol__li {
    list-style: none;
  }
  .mainDiscography__discography__dets__details__paragraph__track_list__ol__li:nth-child(1)::before {
    font-size: 0.9em;
    opacity: .3;
    margin-top: -0.5em;
    margin-left: -1.5em;
  }
  .mainDiscography__discography__dets__id {
    top: 2.7em;
    right: 0;
    opacity: .1;
    font-size: 2em;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    text-orientation: upright;
  }
  .mainCredits {
    width: 70vw;
  }
  .mainCredits__bio {
    padding: 0.5em;
  }
  .mainCredits__bio__iAm {
    font-size: 1.5em;
  }
  .mainCredits__bio__name {
    font-size: 0.6em;
  }
  .mainCredits__photos {
    padding: 0.5em;
  }
  .mainCredits__photos__from {
    font-size: 1.5em;
  }
  .mainCredits__photos__source {
    font-size: 0.6em;
  }
  .mainCredits__allCredits__fansite {
    font-size: 0.8em;
  }
}

a {
  color: inherit;
}

a:visited {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

html, body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Valery;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: inherit;
}

header, footer {
  position: fixed;
  z-index: 1;
}

main {
  overflow: auto;
}
/*# sourceMappingURL=main.css.map */