.backgroundText{
    position: absolute;
    // top: 0;
    right: 0;
    // right: .3em;
    font-size: 6em;
    z-index: -1;
    opacity: .1;
    // font-family: $navBarFont;
    font-family: $discographyfont;
    text-align: center;
    top: -0.5em;
}