body{
    background-color: white;
    // background: linear-gradient(125deg, #f7cac9 ,  #92a8d1 );
    color: black;
}

body.fandomColor{
    // background: black;
    background: linear-gradient(125deg, #f7cac9 ,  #92a8d1 );
    color: white;
}
body.dark{
    background: black;
    // background: linear-gradient(125deg, #f7cac9 ,  #92a8d1 );
    color: white;
}



.clicked{
    background: white;
}