header{
    width: 55px;
    height: 100%;  
}

.menu_btn{
    position: absolute;
    z-index: 1;
    top: 2rem;
    left: .5em;
    width: 28px;
    height: 18px;
    cursor: pointer;

    
    &__burger{
        position: absolute;
        top: 1rem;
        right: 0;
        width: 28px;
        height: 3px;
        transition: 2s ease-in-out;
        // background: white;        

        &::before{
            content: '';
            position: absolute;
            top: -8px;
            width: 32px;
            height: 3px;
            background: dimgray;      
            // backdrop-filter:invert(100%) ;
            transition: 2s ease-in-out;

        }

        &::after{
            content: '';
            position: absolute;
            top: 5px;
            width: 20px;
            height: 3px;
            background: dimgray;      
            // backdrop-filter:invert(100%);
            transition: 2s ease-in-out;

        }

        &.open {
            // @include transition-ease;
            transition: 2s ease-in-out;
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transition: 2s ease-in-out;
                // width: 28px;
                transform: rotate(45deg) translate(5px, 8px);
            }

            &::after {
                transition: 2s ease-in-out;
                // width: 28px;
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
    }
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.98;
    visibility: hidden;

    &.open {
        visibility: visible;
    }
    
    .navbar { 
        // padding-left: 5rem; 
        top: 25%;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transition: 2s ease-in-out;
        transform: translateY(-100%);
        background-color: white;
        text-align: center;
        // color: black;
        
        a:visited{
            color: dimgray;
        }

        &.open {
            transition: 2s ease-in-out;
            transform: translateY(0);
            width: 100vw;
        }

        

        &__item {
            padding: 8em 0 0 0;
            // line-height: 2.2rem;
            // display: inline;
            line-height: 8rem;
            opacity: 0;
            transition: 1s ease-in-out;

            &.open {
                // transform: translateX(0);
                opacity: 1;
                transition: 1s ease-in-out;
            }

            li{
                list-style: none;
                text-transform: uppercase;
                font-size: 6rem;
                width: 100%;
                transition: .2s ease-in;     

                a{
                    position: relative;
                    // color: inherit;
                    font-family: $navBarFont;
                    animation: strike 2s linear 1 alternate;             

                    &:hover::after{
                        content: '';
                        position: absolute;
                        top: 40%;
                        left: 0;
                        // transition: .2s ease-in;   
                        animation: strike 2s ease 1 forwards;
                        background: white;   
                    }                  
                }

                @keyframes strike {
                    0% { width: 0; height: 2px;}
                    100% { width: 100%; height: 2px;}
                } 

            }

        }

        a {
            text-decoration: none;
            transition: 1.5s ease-in;  

            &:hover{
                color: inherit;
                transition: .2s ease-in;  
            }
        }

        &.dark{
            background-color: black;
            color: white;
        }

        
        
    }

    
}

#colorMode, .menu_btn {
    display: block;
}


#group{
    position: absolute;
    left: 0.5em;
    bottom: 0;

    a:visited{
        // color: dimgray;
        filter: invert(100%);
    }
    .glitch{
        font-family: $sideBarFont;
        font-size: 2.5em;
        writing-mode: vertical-lr;
        text-orientation: upright;
        

        &::before, &::after{
            content: 'SVT';
            top: 0;
            position: absolute;
            overflow: hidden;

            
        }

        &::before{
            right: 4px;
            text-shadow: 2px 0px #f7cac9;
            animation: effect 3s infinite linear;
        }

        &::after{
            left: 2px;
            text-shadow: 2px 0px #92a8d1;
            animation: effect 2s infinite linear;
        }

        @keyframes effect {
            0%{
                clip: rect(55px,9999px,56px,0);
            }
            5%{
                clip: rect(47px,9999px,30px,0);
            }
            10%{
                clip: rect(33px,9999px,99px,0);
            }
            15%{
                clip: rect(3px,9999px,19px,0);
            }
            20%{
                clip: rect(54px,9999px,109px,0);
            }
            25%{
                clip: rect(96px,9999px,989px,0);
            }
            30%{
                clip: rect(54px,9999px,109px,0);
            }
            35%{
                clip:rect(50px,9999px,34px,0);
            }
            40%{
                clip:rect(60px,9999px,72px,0);
            }
            45%{
                clip:rect(10px,9999px,81px,0);
            }
            50%{
                clip:rect(2px,9999px,68px,0);
            }
            55%{
                clip:rect(23px,9999px,89px,0);
            }
            60%{
                clip:rect(76px,9999px,91px,0);
            }
            65%{
                clip:rect(62px,9999px,30px,0);
            }
            70%{
                clip:rect(60px,9999px,73px,0);
            }
            75%{
                clip:rect(60px,9999px,87px,0);
            }
            80%{
                clip:rect(2px,9999px,14px,0);
            }
            85%{
                clip:rect(28px,9999px,87px,0);
            }
            90%{
                clip:rect(73px,9999px,50px,0);
            }
            95%{
                clip:rect(79px,9999px,70px,0);
            }
            100%{
                clip:rect(17px,9999px,79px,0);
            }
        }

        a{
            text-decoration: none;
            // color: inherit;

            &:visited{
                // color: dimgray;
                filter: invert(100%);
            }
        }

        
    }
    
}