header{
    width: 55px;
    height: 100%;  
}

.menu_btn{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    // top: -0.5em;
    // left: -0.5em;
    width: 80px;
    height: 80px;
    cursor: pointer;

    
    &__burger{
        position: absolute;
        top: 0;
        // top: -0.5em;
        right: 0;
        width: 80px;
        height: 80px;
        transition: 2s ease-in-out;
        // background: white;   
        border: 1px solid transparent;
        border-radius: 50%;   
        writing-mode: vertical-lr;
        text-orientation: upright;

        &::before{
            content: '';
            position: absolute;
            top: 2em;
            left: 0.5em;
            width: 35px;
            height: 2px;
            // background-color: dimgray;      
            backdrop-filter:invert(100%) ;
            transition: 2s ease-in-out;

        }
        &::after{
            content: '';
            position: absolute;
            top: 2.5em;
            left: 1.5em;
            width: 35px;
            height: 2px;
            // background-color: dimgray;      
            backdrop-filter:invert(100%) ;
            transition: 2s ease-in-out;
        }

        &:hover{
            &::before{
                left: 1em;
                transition: .2s ease-in-out;
            }
            &::after{
                left: 1em;
                transition: .2s ease-in-out;
            }
        }

        &.open {
            // @include transition-ease;
            // transition: 2s ease-in-out 3s; 
            // transform: rotate(720deg);
            background: transparent;
            transition: 2s ease-in;

            &::before {
                transition: 2s ease-in-out;
                left: 1em;
                // width: 28px;
                // content: 'close';
                // writing-mode: horizontal-tb;
                // text-orientation: sideways;
                // transition: all .2s ease-in 3s;
                transform: rotate(45deg) translate(2px, 10px);
            }

            &::after {
                transition: 2s ease-in-out;
                left: 1em;
                // width: 28px;
                transform: rotate(-45deg) translate(-7px, -5px);
            }
        }
    }
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;

    &.open {
        visibility: visible;
    }
   
    .colorModeDiv{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;

        span {
            
            font-size: 1em;
            font-family: $discographyfont;
            text-transform: uppercase;
            cursor: pointer;
            // left: 1em;
            // width: 25px;
            // height: 25px;
            // border: 1px solid black;
            // background-image: linear-gradient(90deg, #ffffff 50%, #000000 50%);
            // conic-gradient(from 45deg, #ffffff 33.3%, #000 33.3%, #f7cac9 60%);
            // border-radius: 20px;
            // z-index: 1;
        }
    }
    
    
    
    .navbar { 
        // padding-left: 5rem; 
        // top: 25%;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transition: 2s ease-in-out;
        transform: translateY(-100%);
        background-color: white;
        text-align: center;
        // color: black;
        
        a:visited{
            color: dimgray;
        }

        &.open {
            transition: 2s ease-in-out;
            transform: translateY(0);
            width: 100vw;
        }
        
        &__item {
            // padding: 1em 0 0 0;
            // line-height: 2.2rem;
            // display: inline;
            line-height: 8rem;
            opacity: 0;
            transition: 1s ease-in-out;

            &.open {
                // transform: translateX(0);
                opacity: 1;
                transition: 1s ease-in-out;
            }

            ul{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                font-family: $discographyfont;
                // justify-content: center;
                // background-color: pink;
                // text-align: center;

                // .project-preview-wrapper {
                //     width: 100%;
                //     height: 100vh;
                //     position: fixed;
                //     display: flex;
                //     justify-content: center;
                // }
                
                // .project-preview {
                //     position: fixed;
                //     top: 12%;
                //     left: 50%;
                //     width: 0px;
                //     height: 400px;
                //     background: url('../../images/members/wonwoo_attacca_op1.jpg') no-repeat 50% 50%;
                //     background-size: cover;
                //     overflow: hidden;
                // }
                li{
                    list-style: none;
                    // text-transform: uppercase;
                    font-size: 6rem;
                    
                    // width: 100%;
                    // transition: 2s ease-in;  
                    
                    &:nth-child(1){
                        // transition-delay: 3s; 
                        width: 80%;
                        text-align: left;
                        margin-left: 3em;
                        z-index: 1;

                        span{
                            display: inline-block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 100%;

                            &:nth-child(1){
                                width: 25%;
                                
                                &::after{
                                    content: "01";
                                    position: absolute;
                                    font-size: 0.15em;
                                    margin-top: -3em;
                                    margin-left: 0.5em;
                                    font-family: $discographyfont;
                                }
                            }
    
                            &:nth-child(2){
                                width: 50%;
                                position: fixed;
                                z-index: -1;

                                .home-project-preview {
                                    position: fixed;
                                    width: 0%;
                                    // width: 50%;
                                    height: 120px;
                                    background: url('../../images/members/woozi_attacca_op1.jpg') no-repeat fixed center;
                                    background-size: cover;
                                    overflow: hidden;
                                }
                            }
                        }
                        
                    }

                    &:nth-child(2){
                        text-align: right;
                        margin-right: 3em;
                        z-index: 1;

                        span{
                            display: inline-block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 100%;
                            // background-color: bisque;

                            &:nth-child(1){
                                width: 70%;
                                filter:   opacity(0.3) grayscale(100%);
                                // margin-right: 2em;
                                // display: flex;
                                // height: 100px;
                                // position: fixed;
                                // z-index: -10;
                                // background: url("../../../images/members/wonwoo_attacca_op1.jpg") no-repeat fixed center;
                                // background-size: cover;

                                .profile-project-preview {
                                    // position: fixed;
                                    width: 0%;
                                    // width: 100%;
                                    height: 120px;
                                    // width: 0px;
                                    background: url('../../images/members/wonwoo_attacca_op1.jpg') no-repeat fixed center;
                                    background-size: cover;
                                    overflow: hidden;
                                }

                                // &:hover{
                                //     .project-preview{
                                //         animation: navItemTwoBackground 2s ease 1 forwards;
                                //     }
                                // }
                            }

                            &:nth-child(2){
                                width: 25%;
                                z-index: 1;
                                margin-left: -1em;
                                
                                &::before{
                                    content: "02";
                                    position: absolute;
                                    font-size: 0.15em;
                                    margin-top: -3em;
                                    margin-left: -1.5em;
                                    font-family: $discographyfont;
                                }
                            }
    
                            
                        }

                        
                        // &:hover{
                        //     background: url("../../../images/members/wonwoo_attacca_op1.jpg") no-repeat fixed center;
                        //     background-size: 600px;
                        //     // opacity: 0.5;
                        //     // transition: 2s ease-in; 
                        //     // animation: navItemOneBackground 2s ease 1 forwards;
                        // }
                    }
    
                    &:nth-child(3){
                        text-align: left;
                        margin-left: 1em;

                        span{
                            display: inline-block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 100%;

                            &:nth-child(1){
                                width: 45%;
                                
                                &::after{
                                    content: "03";
                                    position: absolute;
                                    font-size: 0.15em;
                                    margin-top: -3em;
                                    margin-left: 0.5em;
                                    font-family: $discographyfont;
                                }
                            }
    
                            &:nth-child(2){
                                // display: none;
                                width: 55%;
                                // height: 100px;
                                position: fixed;
                                z-index: -1;
                                margin-left: -2em;
                                // background: url("../../../images/members/woozi_attacca_op1.jpg") no-repeat fixed center;
                                // background-size: cover;

                                 .discography-project-preview {
                                    position: fixed;
                                    width: 0%;
                                    // width: 55%;
                                    height: 120px;
                                    // width: 0px;
                                    background: url('../../images/members/dk_attacca_op1.jpg') no-repeat fixed center;
                                    background-size: cover;
                                    overflow: hidden;
                                }

                                &:hover{
                                    .project-preview{
                                        animation: navItemTwoBackground 2s ease 1 forwards;
                                    }
                                }
                            }
                        }
                        

                        

                        // &:hover{
                        //     background: url("../../../images/members/dk_attacca_op1.jpg") no-repeat fixed center;
                        //     background-size: 700px;
                        //     // transition: 2s ease-in; 
                        //     // animation: navItemOneBackground 2s ease 1 forwards;
                        // }
                    }
    
                    &:nth-child(4){
                        text-align: right;
                        margin-left: 1em;
                        width: 80%;
                        z-index: 1;
                        // background-color: aqua;

                        span{
                            display: inline-block;
                            margin-left: auto;
                            margin-right: auto;
                            width: 100%;
                            // background-color: bisque;

                            &:nth-child(1){
                                width: 60%;
                                display: flex;
                                // height: 100px;
                                position: fixed;
                                // z-index: 1;
                                // background: url("../../../images/members/wonwoo_attacca_op1.jpg") no-repeat fixed center;
                                // background-size: cover;

                                .members-project-preview {
                                    position: fixed;
                                    width: 0%;
                                    // width: 60%;
                                    height: 120px;
                                    // width: 0px;
                                    background: url('../../images/members/joshua_attacca_op1.jpg') no-repeat fixed center;
                                    // background-color: bisque;
                                    background-size: cover;
                                    overflow: hidden;
                                }

                                // &:hover{
                                //     .project-preview{
                                //         animation: navItemTwoBackground 2s ease 1 forwards;
                                //     }
                                // }
                            }

                            &:nth-child(2){
                                width: 25%;
                                z-index: 1;
                                
                                &::before{
                                    content: "04";
                                    position: absolute;
                                    font-size: 0.15em;
                                    margin-top: -3em;
                                    margin-left: -1.5em;
                                    font-family: $discographyfont;
                                }
                            }
    
                            
                        }

                        // &::before{
                        //     content: "04";
                        //     position: absolute;
                        //     font-size: 0.15em;
                        //     margin-top: -3em;
                        //     margin-left: -1.5em;
                        //     font-family: $discographyfont;
                        // }
                        // &:hover{
                            
                        //     background: url("../../../images/members/joshua_attacca_op1.jpg") no-repeat fixed left;
                        //     background-size: 600px;
                        //     // animation: navItemThreeBackground 2s ease 1 backwards;
                        // }
                    }

                    
                    a{
                        position: relative;
                        &:hover::after{
                            content: '';
                            position: absolute;
                            top: 40%;
                            left: 0;
                            animation: strike 1s cubic-bezier(0.1, 0.7, 1.0, 0.1) 1 forwards;
                            background: white;   
                        }                  
                    }
    
                    @keyframes strike {
                        0% { width: 0; height: 2px;}
                        100% { width: 100%; height: 2px;}
                    } 
    
                }
            }

        }

        a {
            text-decoration: none;
            transition: 1.5s ease-in;  
            &::before{
                content: attr(data-text);
                position: absolute;
                width: 0;
                color: inherit;
                overflow: hidden;
                transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
            }

            &:hover{
                &::before{
                    width: 100%;
                }
            }
        }

        &.dark{
            background-color: black;
            color: white;
        }

        
        
    }

    .credits{
        position: absolute;
        bottom: 0;
        // bottom: -0.5em;
        width: 100%;
        
        text-align: center;
        font-size: 1.2em;
        text-transform: uppercase;
        font-family: $discographyfont;
        
        span{
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            transition: .2s ease-in;
            // text-align: center;
           

            a{
                &:hover{
                    // animation: strike 2s ease 1 forwards;
                    color: inherit;
                    transition: .2s ease-in;
                    // transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
                }
            }
        }
        
    }

    
}



// #colorMode, .menu_btn {
//     display: block;
// }


#group{
    position: absolute;
    left: 0.5em;
    bottom: 0;

    a:visited{
        // color: dimgray;
        filter: invert(100%);
    }
    .glitch{
        font-family: $sideBarFont;
        font-size: 2.5em;
        writing-mode: vertical-lr;
        text-orientation: upright;
        

        &::before, &::after{
            content: 'SVT';
            top: 0;
            position: absolute;
            overflow: hidden;

            
        }

        &::before{
            right: 4px;
            text-shadow: 2px 0px #f7cac9;
            animation: effect 3s infinite linear;
        }

        &::after{
            left: 2px;
            text-shadow: 2px 0px #92a8d1;
            animation: effect 2s infinite linear;
        }

        @keyframes effect {
            0%{
                clip: rect(55px,9999px,56px,0);
            }
            5%{
                clip: rect(47px,9999px,30px,0);
            }
            10%{
                clip: rect(33px,9999px,99px,0);
            }
            15%{
                clip: rect(3px,9999px,19px,0);
            }
            20%{
                clip: rect(54px,9999px,109px,0);
            }
            25%{
                clip: rect(96px,9999px,989px,0);
            }
            30%{
                clip: rect(54px,9999px,109px,0);
            }
            35%{
                clip:rect(50px,9999px,34px,0);
            }
            40%{
                clip:rect(60px,9999px,72px,0);
            }
            45%{
                clip:rect(10px,9999px,81px,0);
            }
            50%{
                clip:rect(2px,9999px,68px,0);
            }
            55%{
                clip:rect(23px,9999px,89px,0);
            }
            60%{
                clip:rect(76px,9999px,91px,0);
            }
            65%{
                clip:rect(62px,9999px,30px,0);
            }
            70%{
                clip:rect(60px,9999px,73px,0);
            }
            75%{
                clip:rect(60px,9999px,87px,0);
            }
            80%{
                clip:rect(2px,9999px,14px,0);
            }
            85%{
                clip:rect(28px,9999px,87px,0);
            }
            90%{
                clip:rect(73px,9999px,50px,0);
            }
            95%{
                clip:rect(79px,9999px,70px,0);
            }
            100%{
                clip:rect(17px,9999px,79px,0);
            }
        }

        a{
            text-decoration: none;
            // color: inherit;

            &:visited{
                // color: dimgray;
                filter: invert(100%);
            }
        }

        
    }
    
}