@include media-xs {
    .mainMembers{
        padding-top: 10%;
        padding-bottom: 0;
        width: 50%;
        height: 10%;
        overflow: scroll;
        background-color: slategrey;

        &__dets{
            margin-bottom: 5em;
            height: 70vh;

            &:nth-child(13){
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &__number{
                right: 0;
                // margin-top: -2.5em;
                margin-top: 35%;
                // margin-top: 60%;
                opacity: 0.5;
                position: absolute;
                // margin-top: 0;
            }
    
            &__imageDiv{
                // height: 80vh;
                left: 0;
                width: 70%;
                // height: 600px;
                // margin: 0 2em 0 2em;
                // position: absolute;
                // display: inline-block;
                // overflow: hidden;
                // height: 600px;
                // right: 30%;

               

                // &:hover img{
                //     transform: scale(1.1);
                // }
                
                &__image{
                    width: 10%;
                    height: 80%;

                    &:nth-child(13){
                        height: 400px;
                     }
                    // object-position: center;
                } 
            }
        }
    }
}

@include media-md {
    // CURSOR
    #cursor{
        width: 10px;
        height: 10px;
    }

    #cursor.dark{
        width: 10px;
        height: 10px;
    }
    // BACKGROUND TEXT
    .backgroundText{
        font-size: 3em;
        left: 0;  
    }

    .menuBackgroundText{
        font-size: 4em;
        // left: 0;  
    }

    // NAVBAR
    // header{
    //     width: 100%;
    //     height: 70px;
    //     display: inline;
    //     // backdrop-filter: invert(20%);
    // }
    .menu_btn{
        // position: absolute;
        top: 0;
        // right: 3em;
        // left: 28em;
        // left: 93%;
        // backdrop-filter: grayscale(100%);
        // width: 530px;
    }

    // #colorMode {
    //     // position: absolute;
    //     // width: 25px;
    //     // height: 25px;
    //     // border: 1px solid black;
    //     // background-image: linear-gradient(90deg, #ffffff 50%, #000000 50%);
    //     // // conic-gradient(from 45deg, #ffffff 33.3%, #000 33.3%, #f7cac9 60%);
    //     // border-radius: 20px;
    //     // z-index: 1;
    //     // display: none;
    //     top: 10em;
    //     // top: 1.7em;
    //     left: 0.5;
    //     // width: 32px;
    // }
    .nav{
        .navbar{
            &__item{
                padding: 1em 0 0 0;
                line-height: 5rem;
                
                ul{
                    li{
                    
                        &:nth-child(1){
                            font-size: 3.5em;
                            text-align: center;
                            width: 100%;
                            margin-left: 0;
                            background-size: cover;

                            &:hover{
                                animation: none;
                            }

                            span{
                                &:nth-child(1){
                                    margin-left: 0;
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    display: none;
                                }
                            }
                        }
                        &:nth-child(2){
                            font-size: 3.5em;
                            text-align: center;
                            width: 100%;
                            margin-left: 0;
                            background-size: cover;

                            &:hover{
                                animation: none;
                            }

                            span{
                                &:nth-child(1){
                                    display: none;
                                }
                                &:nth-child(2){
                                    margin-left: 0;
                                    width: 100%;
                                }
                            }

                            
                        }
                        &:nth-child(3){
                            font-size: 3.5em;
                            text-align: center;
                            width: 100%;
                            margin-left: 0;
                            background-size: cover;
                            &:hover{
                                animation: none;
                            }

                            .discography-project-preview-wrapper{
                                display: none;
                            }

                            span{
                                &:nth-child(1){
                                    margin-left: 0;
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    display: none;
                                }
                            }
                        }
                        &:nth-child(4){
                            font-size: 3.5em;
                            text-align: center;
                            width: 100%;
                            margin-left: 0;

                            &:hover{
                                background-size: cover;
                                animation: none;
                            }
                            
                            // .members-project-preview-wrapper{
                            //     display: none;
                            // }

                            span{

                                &:nth-child(1){
                                    display: none;
                                }

                                &:nth-child(2){
                                    margin-left: 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .credits{
            // bottom: 3em;
            text-align: center;
            font-size: 1em;
            // text-transform: uppercase;
            // font-family: $discographyfont;
            
            span{
                // display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                // height: 25px;
                // text-align: center;
                // background-color: chocolate;
    
               
    
                &:hover{
                    // animation: strike 2s ease 1 forwards;
                    color: inherit;
                }
            }
            
        }
    }

    // #colorMode, .menu_btn {
    //     display: inline;
    // }

    #group{
        display: none;
        position: absolute;
        left: 0.5em;
        top: 5.5em;
        
        // .glitch{
        //     writing-mode: horizontal-tb;
        //     text-orientation: sideways;
        // }
        
    }

    // FOOTER
    .footer {
        width: 100%;
        height: 50px;
        // margin-bottom: 1em;
        // background-color: transparent;
        backdrop-filter: invert(20%) blur(20px);

        &__pledis{
            display: none;
        }

        &__bar{
            display: none;
        }

        &__icons{
            margin-top: 1em;
    
            &__links{
                display: inline;
                padding: 1.3em;
                
                
            }
        }
    }

    // HOME 
    .mainHome{
        // font-family: $discographyfont;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // width: 90vw;
        height: 90%;
        // background-color: rgba(255, 255, 255, 0.153);
        overflow: hidden;

        &__paragraph{
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            width: 90%;
            // height: 90%;
            // text-align: center;

            &__image{
                background: url("../../../images/home_page/attacca/attacca_group_photo_1.jpeg") no-repeat fixed 57%;
                background-size: cover;
                // filter: grayscale(80%) opacity(0.5);
                // filter: grayscale(80%) hue-rotate(20);
                // width: 100%;
                // height: 100%;
            }
       
            &__intro{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // font-size: 3em;
                width: 100%;

                p{
                    font-size: 1em;
                }
    
                h1{
                    font-size: 4em;
                }
            }

        }
    }
    // MEMBERS
    .mainMembers{
        width: 80%;
        height: 100%;
        
        &__dets{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            // margin-bottom: 0; 
            width: 100%;
            height: 80%;
            margin-bottom: 0;
            // padding-top: 3em;
            // background-color: aqua;

            &:nth-child(13){
                margin-bottom: 0;
                padding-bottom: 0;
            }

            &__number{
                right: 0;
                margin-top: -0.5em;
                width:auto;
                z-index: 1;
                // margin-top: 0%;
                // margin-top: -52%;
                // margin-top: 60%;
                opacity: 0.5;
                position: fixed;
                // margin-top: 0;
            }
    
            &__imageDiv{
                width: 100%;
                height: 80%;
                
                &__image{
                    width: 90%;
                    height: 95%;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    object-position: center 15%;
                    // object-fit: cover;
                   
                    

                    &:nth-child(13){
                        height: 400px;
                     }
                    
                } 
            }
        
            &__info{
                position: absolute;
                width: 90%;
                left: 0;
                bottom: 0;
                text-align: left;
                z-index: 1;
                height: 40%;
               

                // &.dark{
                    // background-color: #fff;
                //     background-image: linear-gradient(90deg, #fff 8%, #000 8%);  
                //     // background-image: linear-gradient(90deg, #fff 100%, #000 10%);  
                // }
    
                &__mainInfo{
                    background-color: brown;
                    &__name{
                        font-size: 3em;
                        // background-color: #000;
                        // // background-image: linear-gradient(90deg, #000 77.5%, #fff 10%);
                        // background-size: 100%;
                        // background-clip: text;
                        // background-image: linear-gradient(90deg, #000 8%, #fff 6%);  
                         
                        // -webkit-background-clip: text;
                        // -moz-background-clip: text;
                        // -webkit-text-fill-color: transparent; 
                        // -moz-text-fill-color: transparent;
                    }
                }

                &__otherInfo{
                    background-color: darkolivegreen;
                    &__label{
                        opacity: 1;
                        font-size: 1.1em;
                    }
    
                    &__birth_name{
                        margin-top: 3em;
                    }
                }
            }
        }
    }

    .scroll{
        font-size: 1.5em;
        right: 5%;
    }

    .theDiv{
        width: 90%;
        height: 100%;
        overflow-y: auto;
        background-color: aquamarine;

        .close{
            top: 1.3em;
            right: 0;
            position: fixed;
        }

        .membersCarousel{
            width: 100%;
            height: 100%;
            // overflow: scroll;
            margin: auto;
            overflow-y: auto;
    
            &__paragraph{
                white-space: normal;;
                
                li{
                    list-style: none;
                    width: 200px;
                    height: 250px;
                    display: inline-block;
                    align-items: baseline;
                    
    
                    span{
                        width: 100%;
                        height: 250px;
                        .membersCarousel__paragraph__image{
                            position: absolute;
                            width: 100%;
                            height: 250px;
                            object-fit: contain;
                            // transition: all 1s cubic-bezier(0.1, 0.7, 1.0, 0.1);
                        }
                    }
    
                        &:nth-child(1){
                            // position: fixed;
                            filter: grayscale(20%) opacity(0.6);
                            // backdrop-filter: blur(20px);
                            transform: translate(0, 0);
                            // transition: all .2s ease-in-out;
    
                            &:hover{
                                filter: grayscale(0%) opacity(1);
                                // transform: translate(0px, 0%) rotate(0deg);
                                transition: all .2s ease-in-out;
                            }
                        }
                        &:nth-child(2){
                            // position: fixed;
                            // z-index: 100;
                            filter: grayscale(20%) opacity(0.6);
                            transform: translate(0, 0%);
                            // -webkit-transform: translate(-10px, 20px) rotate(-10deg);
    
                            &:hover{
                                filter: grayscale(0%) opacity(1);
                                // transform: translate(0px, 100%) rotate(0deg);
                                transition: all .2s ease-in-out;
                            }
                        }
                        &:nth-child(3){
                            // position: fixed;
                            filter: grayscale(20%) opacity(0.6);
                            transform: translate(0, 0);
                            // transition: all .2s ease-in-out;
    
                            &:hover{
                                filter: grayscale(0%) opacity(1);
                                // transform: translate(0px, 0%) rotate(0deg);
                                transition: all .2s ease-in-out;
                            }
                        }
                        &:nth-child(4){
                            // position: fixed;
                            filter: grayscale(20%) opacity(0.6);
                            transform: translate(0, 0) ;
    
                            &:hover{
                                filter: grayscale(0%) opacity(1);
                                // transform: translate(0px, 80%) rotate(0deg);
                                transition: all .2s ease-in-out;
                                z-index: 1;
                            }
                        }
                        &:nth-child(5){
                            // position: fixed;
                            filter: grayscale(20%) opacity(0.6);
                            transform: translate(0, 0);
    
                            &:hover{
                                filter: grayscale(0%) opacity(1);
                                // transform: translate(-30px, 10px) rotate(10deg);
                                transition: all .2s ease-in-out;
                            }
                        }
    
                        
                    // }
                }
            }
    
            .member_name{
                font-size: 3.2em;
                padding: 0.5em;
                bottom: 0;
                position: fixed;
    
            }
        }
    }

    // PROFILE
    .mainProfile{
        width: 80%;
        padding: 0 0;
        // width: 75%;

        &__seventeen_name{
            position: absolute;
            // font-size: 8em;
            font-size: 2em;
            // font-family: $discographyfont;
            filter: invert(50%);
            margin-top: -1em;
            // opacity: 0.5;
            
            // margin-left: 0;
        }

        &__paragraph{
            margin: 2em 0 0 0;
            height: 40%;
            &__name{
                
                margin-top: 2em;
                width: 100%;
                background-size: contain;
                // height: 20em;cover
                filter: grayscale(0%);
                text-align: left;
                

                &::before{
                    font-size: 3.5em;
                    margin: -1em 0 0 -0.5em;
                }
            }

            &__definition{
                margin-top: 10em;
                width: 90%;
                line-height: 1.5em;
            }

            // &__debut{
            //     margin-left: 25%;
            //     width: 100%;
            //     background-size: contain;
            //     height: 20em;
            //     filter: grayscale(0%);
            //     text-align: left;

            //     &::before{
            //         margin: -1em 0 0 1em;
            //         left: 0;
            //         font-size: 5em;
            //     }
            // }

            &__debutDiv{
                height: 10em;
                margin-top: 10em;
                width: 100%;
                // background-color: aquamarine;
                
                &__debut{
    
                    &__debutWord{
                        font-size: 5em;
                    }
        
    
                    &__date{
                        font-size: 2em;
                    }

                    &__image{
                        width: 400px;
                        padding: 2em;
                    }
                }
            }

            &__fandom{
                background-color: aqua;
                left: 0;
                height: 400px;
                width: 100%;
    
                &::before{
                    font-size: 5em;
                }
            }

            &__colorsDiv{
                margin-top: 10em;
                width: 100%;
                height: 60%;
                margin-left: auto;
                margin-right: auto;
                // background-color: aqua;
    
                &__colors{
                    position: absolute;
                    left: 0%;
                    font-size: 5em;
                    opacity: .5;
                    margin-left: 0;
                }
    
                &__theColors{
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
    
                    p{
                        width: 40%;
                        display: inline-block;
                        margin: 2%;
                        padding: 4%;
                        border-radius: 50%;
                        // height: 100px;
                        text-align: center;
                    }
                }
            }
    

            &__members{
                margin-top: 5em;
                right: 0;
                width: 100%;
                height: 100%;
                text-align: center;
                display: block;
    
                &::before{
                    font-size: 5em;
                    left: 0;
                }

                &__image{
                    width: 100%;
                    height: 30em;
                    filter: grayscale(0%);
                }
    
                &__membersNameDiv{
                    height: auto;
                    &__names{
                        text-align: center;
                        font-size: 1.3em;
                        width: 100%;
                        // background-color: #000;
                        // background-image: none;  
                    }

                    &__link{
                        height: 50px;
                        right: 0;
                        top: 5em;
        
                        
                    }
                }
    
            }

            &__sub_units_list{
                position: relative;
                margin-top: 3em;
                &::before{
                    font-size: 5em;
                    left: 0;
                }
            }

            &__units{

                &__unit{
                    display: block;
    
                    &__hhu{
                        background: url("../../../images/units/hhu_3.jpeg") no-repeat fixed;
                        background-size: cover;
                        height: 20em;
                        text-align: left;
                        
                        &__names{
                            font-size: 1em;
                            margin-left: -20px;
                            width: 20%;
                        }
            
                        &::before{
                            font-size: 2em;
                            bottom: 0;
                            // right: 0;
                        }
                    }
                    &__vu{
                        background: url("../../../images/units/vu_2.jpeg") no-repeat fixed;
                        background-size: cover;
                        height: 20em;
                        text-align: left;

                        &__names{
                            font-size: 1em;
                            margin-left: -20px;
                            width: 20%;
                        }
            
                        &::before{
                            font-size: 2em;
                            bottom: 0;
                            // right: -0.7em;
                        }
                    }
                    &__pu{
                        background: url("../../../images/units/pu_2.jpeg") no-repeat fixed;
                        background-size: cover;
                        height: 20em;
                        text-align: left;

                        &__names{
                            font-size: 1em;
                            margin-left: -20px;
                            width: 20%;
                            text-align: left;
                        }
                        
                        &::before{
                            font-size: 2em;
                            right: -0.5em;
                        }
    
                    }
                }
            }

            &__filmRelated{
                // height: auto;
                // margin-top: 10em;
                // margin-bottom: 10em;
                margin: 15% 0 15% 0;
                display: block;
                // grid-template-columns: 25% 75%;

                &__onlineshows_div{
                    font-size: 0.7em;
                }
    
    
                &__filmography{
                    filter: grayscale(100%);
                    transition: .5s ease-in-out;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    writing-mode: horizontal-tb;
                    text-orientation: sideways;
                    word-break: break-all;
                        display: block;
                    width: 100%;
                        
                    
                    &::before{
                        content: "Filmography";
                        position: absolute;
                        font-size: 5em;
                        opacity: .5;
                        top: -1.5em;
                        left: 0%;
                        
                        
                    }
        
                    &:hover{
                        filter: grayscale(0%);
                        transition: .5s ease-in;
                    }
                }
                
        
                &__filmsInFilmography{
                    height: auto;
                    div{
                        margin-bottom: 2em;
                    }
    
                    &__television{
                        display: block;
                        background-size: cover;
                        width: 100%;
                        height: 400px;
                        filter: grayscale(0%);
                        padding: 0;
                        margin-top: 4em;
                        margin-left: 0;

                        div{
                            padding: 2em;
                        }
                        
                        &::before{
                            top: -0.5em;
                            left: 0;
                            font-size: 2.5em;
                        }
                    }
        
                    &__onlineshows{
                        display: block;
                        background-size: cover;
                        width: 100%;
                        // height: 400px;
                        margin-left: 0%;
                        // right:0;
                        // margin-left: 2em;
                        filter: grayscale(0%);
                        text-align: left;
                        // margin-bottom: 0;
                        // margin-left: 0;

                        div{
                            padding: 2em;
                        }
            
                        &::before{
                            text-align: right;
                            bottom: -0.5em;
                            right: 0;
                            font-size: 3.5em;
                        }
                    }
        
                    &__film{
                
                        display: block;
                        background-size: cover;
                        width: 100%;
                        height:400px;
                        // right:0;
                        left: 0;
                        // margin-left: 2em;
                        filter: grayscale(0%);
                        text-align: left;
                        margin-bottom: 0;
                        margin-left: 0;

                        div{
                            padding: 2em;
                        }
            
                        &::before{
                            text-align: right;
                            bottom: -0.5em;
                            right: 0;
                            font-size: 3.5em;
                        }
                    }
                }
        
            }

            &__concerts{
                margin-top: 40%;
    
                p{
                    font-size: 5em;
                }
            }
        }
    }

    // DISCOGRAPHY
    .listen-link{
        position: absolute;
        // text-decoration: underline;
        font-size: 1em;
        top: 19.5%;
        // top: 9.5em;
        right: 0;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 1em;
        writing-mode: vertical-lr;
        text-orientation: sideways;
        // text-transform: uppercase;

        &:hover{
            backdrop-filter: invert(0%);

            &::before{
                display: none;
            }

            &::after{
                display: none;
            }
        }  
    }
    .watch-link{
        position: absolute;
        font-size: 1em;
        top: 33%;
        // top: 16em;
        right: 0;
        border: 1px solid silver;
        border-radius: 2px;
        padding: 1em;
        writing-mode: vertical-lr;
        text-orientation: sideways;

        &:hover{
            backdrop-filter: invert(0%);

            &::before{
                display: none;
            }

            &::after{
                display: none;
            }
        }
    }
    .previous{
        position: fixed;
        z-index: 100;
        top: 0.5em;
        // top: 0;
        left: 50%;
        padding: 8px;
    }
    .next{
        bottom: 0;
        left: 50%;
        padding: 8px;
    }

    .mainDiscography{
        justify-content: center;
        width: 70%;
        height: 95%;
        overflow: hidden;
        margin-top: 0;
        margin-right: 5%;
        

        &__discography{
            position: absolute;
            top: 2.5em;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            overflow-y: scroll;
            padding-bottom: 5em;

            &__dets{
                // top: 0;
                
                overflow-y: scroll;
                // margin-bottom: 2em;

                &__album_category{
                    font-size: 1em;
                    top: 0;
                    left: 0;
                }
                
                    
                &__album_name{
                    width: 100%;
                    font-size: 1.9em;
                }

                &__title_track{
                    font-size: 2em;
                    position: absolute;
                    top: 1.5em;
                    left: 0;
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                    // height: 100%;
                    &::after{
                        font-size: 0.3em;
                        top: 0.5em;
                        margin-left: -0.2em;
                    }
                }

                &__details{
                    display: inline-block;
                    text-align: right;
                    width: 100%;
                    &__imageDiv{
                        width: 100%;
                        z-index: -1;
                        margin: 1em 0 0 0;
                        text-align: center;
                        
            
                        &__image{
                            width: 200px;
                            height: 200px;
                            object-fit: cover;
                        }
                    }

                    &__paragraph{
                        margin-top: 0;

                        &__album_detail{
                            margin-top: -0.5em;
                            font-size: 2em; 
                            margin-bottom: .5em;
                            // text-align: center;
                        }

                        &__artist_name{
                            // text-align: center;
                            font-size: 1.5em; 
                            margin-bottom: 0.5em;
    
                            &::before{
                                font-size: 0.5em;
                                margin-top: -0.2em;
                                margin-left: -1.7em;
                            }
                        }

                        &__release_date{
                            // position: absolute;
                            // text-align: center;
                            font-size: 1.5em;
                            margin-bottom: 0.5em;
    
                            &::before{
                                font-size: 0.5em;
                                // top: 1.8em;
                                margin-top: -0.2em;
                                margin-left: -1.7em;
                            }
                        }

                        &__track_list{
                            // text-align: right;
                            width: 100%;
                            font-size: 2em;
                            // bottom: 2em;

                            &__ol{
                                &__li{
                                    list-style: none;

                                    &:nth-child(1){
                                        &::before{
                                
                                            font-size: 0.9em;
                                            opacity: .3;
                                            // top: 1.8em;
                                            margin-top: -0.5em;
                                            margin-left: -1.5em;
                                        }
                                    }
                                }

                                
                            }
    
                            
                        }  
                    }
                }
                &__id{
                    top: 2.7em;
                    right: 0;
                    opacity: .1;
                    font-size: 2em;
                    writing-mode: vertical-lr;
                    text-orientation: upright;
                }
            }
        }
    }

    .mainCredits{
        width: 70vw;
    
        &__bio{
            padding: 0.5em;
    
            &__iAm{
                font-size: 1.5em;
            }
    
            &__name{
                font-size: 0.6em;
            }
        }
    
        &__photos{
            padding: 0.5em;
    
            &__from{
                font-size: 1.5em;
            }
    
            &__source{
                font-size: 0.6em;
            }
        }
    
        &__allCredits{
            &__fansite{
                font-size: 0.8em;
                
            }
        }
    }
}

