.mainMembers{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding-top: 2em;

    &__dets{
        position: relative;
        height: 80vh;
        // padding: 0 0 5em 0;
        padding-bottom: -1em;

        &__imageDiv{
            position: absolute;
            display: inline-block;
            overflow: hidden;
            height: 550px;
            right: 20%;
            margin: 2em;

            img{
                transition: transform .5s ease;
            }

            &:hover img{
                transform: scale(1.4) rotate(20deg);
                // transform-origin: 50% 50%;
            }

            &__image{
                width: 410px;
                height: 550px;
                object-fit: cover; 
            } 
        }
    
        &__info{
            position: absolute;
            width: 430px;
            left: 6em;
            top: 40%;
            text-align: right;

            &__label{
                // font-size: 1.2em;
                font-style: oblique;
                font-weight: 800;
            }

            &__name{
                font-size: 5em;

                span{
                    font-size: .3em;
                }
            }
    
            &__subunit{
                margin-top: -0.4em;
                font-size: 1.3em;
            }

            &__birth_name{
                margin-top: 2em;
            }
            
        }
    }
}