.mainProfile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    padding: 2em;

    &__paragraph{
        // top: 2em;
        height: 10em;
        width: 50%;
        background: url("../../../images/members/woozi_attacca_op1.jpg") no-repeat auto;
        margin: 2em;
        
        &::before{
            content: "01";
            position: absolute;
            font-size: 5em;
            opacity: .05;
        }
    }
}