.mainProfile{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    padding: 0 2em;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    font-family: $discographyfont;

    &__seventeen__name{
        position: absolute;
        white-space: nowrap;
        // z-index: 1;
        // font-size: 8em;
        font-size: 16em;
        
        // font-size: 10em;
        filter: invert(50%);
        margin-top: -0.03em;
        opacity: 0.5;
        margin-left: 0;
        // text-align: center;
        // background: ;

        span{
            width: 100%;
        }
        
    }

    .backgroundSVTText{
        position: absolute;
        // top: 0;
        // right: .3em;
        // left: 0;
        font-size: 5em;
        z-index: -1;
        opacity: .1;
        // font-family: $navBarFont;
        font-family: $discographyfont;
        text-align: center;
        top: 15em;
  
    }
    &__paragraph{
        // position: relative;
        // top: 2em;
        // height: 40%;
        width: 100%;
        // margin: 2em 0 10em 0;
        margin: 0 0 10em 0;
        // display: inline-block;

        
        &__name{
            // background: url("../../../images/members/woozi_attacca_op1.jpg") no-repeat fixed;
            // background-size: cover;
            // background-blend-mode: saturation;
            // width: 30em;
            // height: 20em;
            // filter: grayscale(100%);
            // transition: .5s ease-in-out;
            // text-align: right;
            // padding: 2em;
            // background: url("../../../images/members/woozi_attacca_op1.jpg") no-repeat fixed center;
            background: url("../../../images/home_page/attacca/attacca_group_photo_1.jpeg") no-repeat fixed center;
            background-size: cover;
            background-blend-mode: saturation;
            // width: 30em;
            // width: 100%;
            height: 80%;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            // text-align: right;
            padding: 0;
            // position: relative;
            margin-left: auto;
            margin-right: auto;
            

            &::before{
                // content: "Name";
                // position: absolute;
                // font-size: 5em;
                // opacity: .5;
                // left: 50%;
                display: none;
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }

        &__definition{
            margin-top: 30em;
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            
            line-height: 2em;

            // &::before{
            //     content: "13 + 3+ 1 = 17";
            //     position: absolute;
            //     font-size: 2em;
            //     opacity: .5;
            //     // right: 3.5em;
            //     // margin-top: -1em;
            // }
            // margin-left: 10%;
            // display: flex;
            // align-items: center;
        }
        

        &__debutDiv{
            height: 20em;
            margin-top: 15em;
            
            &__debut{
                background: url("../../../images/members/dk_attacca_op1.jpg") no-repeat fixed;
                background-size: 300px;
                background-blend-mode: saturation;
                // top: 20em;
                margin-left: auto;
                margin-right: 0;
                // margin-left: 80%;
                width: 20em;
                height: 20em;
                filter: grayscale(100%);
                transition: .5s ease-in-out;
                text-align: left;
                padding: 0;

                &__debut{
                    position: absolute;
                    margin-top: -4.5em;
                    margin-left: -12em;
                }
                
    
                &::before{
                    content: "Debut";
                    position: absolute;
                    font-size: 5em;
                    opacity: .5;
                    right: 3.5em;
                    margin-top: -1em;
                }
    
                &:hover{
                    filter: grayscale(0%);
                    transition: .5s ease-in;
                    animation: debut 2s ease 1 forwards;
                }
            }
        }

        @keyframes debut {
            0% {height: 20em;}
            100% { height: 0em;}  
        } 

        &__debutdate{
            // position: absolute;
            // font-size: 7em;
            // font-size: 2em;
            // opacity: .5;
            // filter: invert(50%);
            
            margin-top: -10em;
            width: 60%;
            // margin-left: 0.5em;

            &__date{
                font-size: 3em;
                // color: red;
            }
            &__album{
                font-size: 3em;
                // color: silver;
            }
            &__title_track{
                font-size: 3em;
                // color: blue;
            }
        }

        &__debutImages{
            // display: none;
            // position: absolute;
            height: 20em;
            // width: auto;
            margin-top: 15em;
            // z-index: -1;
            
                // margin-left: 80%;
            // display: inline-block;
    
            &__para{
                white-space: nowrap;
                margin: 5px 0;
                &__image{
                    z-index: -10;
                    position: relative;
                    padding: 1em;
                    width: 40em;
                    height: 30em;
                    object-fit: cover;
                }
            }
    
            &__debutImages > img {
                display: inline-block;
                width: 200px;
                height: 50px;
                background-color: firebrick;
                margin: 10px;
            }
        }

        &__fandom{
            margin-top: 29em;
            background: url("../../../images/members/hoshi_attacca_op1.jpg") no-repeat fixed;
            background-size: cover;
            height: 20em;
            width: 20em;

            &::before{
                content: "Fandom";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                margin-top: -0.5em;
                left: 0;
                z-index: 1;
            }
        }

        &__colors{
            margin-top: 10em;
            margin-left: 50%;
            background: url("../../../images/members/minghao_attacca_op1.jpg") no-repeat fixed;
            background-size: cover;
            height: 20em;
            width: 20em;

            &::before{
                content: "Fan Colors";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                margin-top: -0.7em;
                margin-left: -1em;
                z-index: 1;
            }
        }

        &__members{
            margin-top: 15em;
            // right: 3em;
            width: 100%;
            text-align: right;
            display: grid;
            grid-template-columns: 40% 60%;
            transition: .5s ease-in-out;
            filter: grayscale(100%);

            // &:hover{
            //     filter: grayscale(0%);
            // }
            

            &::before{
                content: "Members";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                margin-top: -0.7em;
                left: 0;
                z-index: 1;
            }


            &__image{
                width: 40em;
                transition: .5s ease-in-out;
                // height: 20em;
                height: 40em;
                object-fit: cover;
                object-position: center 10%;
    
                &:hover{
                    transition: .5s ease-in;
                }
            }

            &__names{
                // z-index: 1;
                font-size: 3.3em;
                transition: .2s ease-in-out;
                display: block;
                // position: absolute;
                // top: 50%;
                // width: 50%;
                
                span{
                
                    &:hover{
                        opacity: 1;
                        filter: invert(80%) drop-shadow(2px 2px gray);
                        transition: .2s ease-in-out;
                    }

                    &:hover::after{
                        content: '';
                        position: absolute;
                        top: 40%;
                        left: 0;   
                        animation: name-strike 1s ease 1 forwards;
                        background: white; 
                    }
                    
                    
                    @keyframes name-strike {
                        0% { width: 0; height: 2px;}
                        50% { width: 10%; height: 2px;}
                        75% { width: 85%; height: 2px;}
                        100% { width: 0%; height: 2px;}
                    } 
                }
            }

            
        }

        &__sub_units_list{
            // background: url("../../../images/attacca_group_photo_3.jpg") no-repeat fixed;
            background-size: cover;
            background-blend-mode: saturation;
            margin-top: 7em;
            margin-bottom: 3em;
            // right: 3em;
            // width: 30em;
            // height: 40em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            text-align: center;
            padding: 2em;
            
            &::before{
                content: "Sub-Units";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                left: 1.8em;
                width: 100%;
                text-align: center;
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }


        &__units{
            margin-bottom: 2em;
            
            &__unit{
                display: grid;
                grid-template-columns: 32.3% 32.3% 32.3%;
                gap: 2%;
                // right: 4em;
                height: 50%;
                // float: right;
                // margin-bottom: 7em;

                &__hhu{
                    // position: absolute;
                    background: url("../../../images/units/hhu_2.jpg") no-repeat fixed;
                    background-size: cover;
                    background-blend-mode: saturation;
                    // top: 67em;
                    // right: 3.5em;
                    // width: 20em;
                    height: 40em;
                    filter: grayscale(100%);
                    transition: .5s ease-in-out;
                    text-align: right;
                    padding: 2em;
                    margin-bottom: 2em;
                    
                    &__names{
                        font-size: 1.2em;
                        color: white;
                    }
        
                    &::before{
                        content: "Hip-Hop";
                        position: absolute;
                        font-size: 3em;
                        opacity: .5;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        right: -0.5em;
                        margin-top: -0.15em;
                        
                    }

                    &:hover{
                        filter: grayscale(0%);
                        background: url("../../../images/units/hhu_3.jpeg") no-repeat fixed center;
                        background-size: cover;
                        transition: .5s ease-in;
                    }
                }
                &__vu{
                    // position: absolute;
                    background: url("../../../images/units/vu.jpg") no-repeat fixed;
                    background-size: cover;
                    background-blend-mode: saturation;
                    // top: 80em;
                    // right: 3.5em;
                    // width: 30em;
                    // height: 20em;
                    filter: grayscale(100%);
                    transition: .5s ease-in-out;
                    text-align: right;
                    padding: 2em;
                    margin-bottom: 2em;

                    &__names{
                        font-size: 1.2em;
                        color: black;
                    }
        
                    &::before{
                        content: "Vocal";
                        position: absolute;
                        font-size: 3em;
                        opacity: .5;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        right: -0.6em;
                        margin-top: -0.15em;
                    }

                    &:hover{
                        filter: grayscale(0%);
                        transition: .5s ease-in;
                        background: url("../../../images/units/vu_2.jpeg") no-repeat fixed center;
                        background-size: cover;
                    }
                }
                &__pu{
                    background: url("../../../images/units/pu.jpg") no-repeat fixed;
                    background-size: cover;
                    background-blend-mode: saturation;
                    transition: .5s ease-in-out;
                    text-align: right;
                    padding: 2em;
                    margin-bottom: 2em;
                    
                    &__names{
                        font-size: 1.2em;
                        color: white;
                    }
        
                    &::before{
                        content: "Performance";
                        position: absolute;
                        font-size: 3em;
                        opacity: .5;
                        writing-mode: vertical-lr;
                        text-orientation: upright;
                        right: -0.1em;
                        margin-top: -0.15em;
                    }

                    &:hover{
                        transition: .5s ease-in-out;
                        background: url("../../../images/units/pu_2.jpeg") no-repeat fixed right;
                        background-size: cover;
                    }
                }
            }
        }
        

        &__filmography{
            margin-top: 4em;
            // margin-bottom: 3em;
            // right: 3em;
            // width: 30em;
            // height: 40em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            // text-align: center;
            padding: 2em;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
                
            
            &::before{
                content: "Filmography";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                margin-left: -2em;
                margin-top: -0.3em;
                // left: 1.8em;
                // width: 100%;
                // text-align: center;
                // margin-left: auto;
                // margin-right: auto;
                // text-align: center;
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }
        

        &__television{
            // position: absolute;
            background: url("../../../images/members/jun_attacca_op1.jpg") no-repeat fixed;
            background-size: cover;
            background-blend-mode: saturation;
            // display: inline-block;
            // top: 115em;
            // right: 3.5em;
            width: 25em;
            height: 25em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            margin-left: 2em;
            // text-align: left;
            padding: 2em;
            // margin-top: 20em;
            margin-top: 8em;
            // margin-bottom: 2em;

            div{
                padding-top: 1em;
            }

            &::before{
                content: "Television";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                top: -0.7em;
                left: -0.7em;
                // bottom: 0;
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }
        &__onlineshows{
            position: absolute;
            right: 4em;
            background: url("../../../images/members/wonwoo_attacca_op1.jpg") no-repeat fixed;
            background-size: cover;
            background-blend-mode: saturation;
            // display: inline-block;
            width: 25em;
            height: 25em;
            // margin-left: 15em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            text-align: left;
            padding: 1em;
            // margin-top: 2em;

            

            &::before{
                content: "Online Shows";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                text-align: right;
                bottom: -1.3em;
                // padding-right: -25em;
                right: -0.5em;
                
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }
        &__film{
            // position: absolute;
            left: 1em;
            background: url("../../../images/members/jeonghan_attacca_op1.jpg") no-repeat fixed;
            background-size: cover;
            background-blend-mode: saturation;
            // display: inline-block;
            width: 25em;
            height: 25em;
            margin-left: 5em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            text-align: left;
            padding: 1em;
            margin-top:20em;

            

            &::before{
                content: "Film";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                text-align: right;
                bottom: -0.5em;
                // padding-right: -25em;
                right: -0.5em;
                
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }

        &__concerts{
            margin-top: 20em;
            // margin-bottom: 3em;
            // right: 3em;
            // width: 30em;
            // height: 40em;
            filter: grayscale(100%);
            transition: .5s ease-in-out;
            // text-align: center;
            padding: 2em;
            // margin-left: auto;
            // margin-right: auto;
            text-align: left;
                
            
            &::before{
                content: "Concerts";
                position: absolute;
                font-size: 5em;
                opacity: .5;
                // margin-left: -2em;
                // margin-top: -0.3em;
            }

            &:hover{
                filter: grayscale(0%);
                transition: .5s ease-in;
            }
        }
    }
}