.mainSocials {
    // top: 0;
    // left: 0;
    // visibility: hidden;
    
    // &.openFooter{
    //     visibility: visible;
    // }
    font-family: $discographyfont;

    .socialsBar{
        text-align: center;
        width: 100vw;
        height: 100vh;
        // background-color: white;
        overflow: hidden;
        // transition: 2s ease-in-out;
        // transform: translateY(100%);

        // &.openFooter{
        //     transition: 2s ease-in-out;
        //     transform: translateY(0);
        //     width: 100vw;
        // }

        &__icons{
            position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                p{
                    font-size: 2em;
                }
            
                a{
                    text-decoration: none;
                }

                
            &__links{
                display: block;
                padding: .5em;
                transition: .2s ease-in;

                i{
                    font-size: 15px;
                } 
    
                &:hover{
                    color: inherit;
                    transition: .2s ease-in;

                    sup{
                        i{
                            transform: rotate(360deg);
                            transition: .5s ease-in;
                            opacity: 1;
                        }
                    }
                }
    
                 
            }
        }
    }
}